<!DOCTYPE html>
<html>
<head>
    {% include 'bootstrap.html' %}
    <title>Conversion</title>
</head>
<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <div class="container border-bottom">
        <h1>Conversion</h1>
        <h2>Unit Conversion in the category of {{ selected_category }}</h2>
        <form action="/conversion" method="POST">
            {% if units %}
                <select class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="input1">
                    {% for unit, value in units.items() %}
                        <option value="{{ unit }}" {% if unit == selected_input1 %}selected{% endif %}>{{ unit }}</option>
                    {% endfor %}
                </select>
                <select class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="input2">
                    {% for unit, value in units.items() %}
                        <option value="{{ unit }}" {% if unit == selected_input2 %}selected{% endif %}>{{ unit }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <input type="number" step="0.00001" name="input3" value="{{ input3 }}">
            <button class="btn btn-outline-primary float-right align-middle" type="submit">Calculate</button>
            <input type="hidden" name="category" value="{{ selected_category }}">
        </form>
        <div class = "container" style="margin-bottom:16px;margin-top:16px;padding-bottom:8px;padding-top:8px;">
            {% if error_message %}
                <h2>{{ error_message }}</h2>
            {% elif sum_values is defined %}
                <h2>Sum of Inputs: {{ sum_values }}</h2>
            {% endif %}
        </div>
        </div>
        <div class="container">
            <h2>Conversion History</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>From Unit</th>
                        <th>To Unit</th>
                        <th>Input Value</th>
                        <th>Result</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in history %}
                        <tr>
                            <td>{{ entry.input1 }}</td>
                            <td>{{ entry.input2 }}</td>
                            <td>{{ entry.input3 }}</td>
                            <td>{{ entry.result }}</td>
                            <td>{{ entry.category }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
