<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Select a category:</h1>
    <form action="/conversion" method="POST">
        <select name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit">Conversion</button>
    </form>
    <form action="/size" method="POST">
        <select name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit">Size</button>
    </form>
</body>
</html>
