<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>Gas Equations</title>
  </head>
  <body> 
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class = "container">
      <h1 class = "text-center mt-2 mb-4">GAS equations. </h1>  
      <div class = "row" style = "margin-bottom:16px">
        <div class = "col-md-6">
          <p class = "lead">Todo - add description</p>
          <p class = "lead"> {{sf1}} sizing factor not AU</p>
          <p class = "lead"> {{sf2}} sizing factor when AU</p>
          <p class = "lead"> {{result}} conversion result</p>
        </div>
        <div class = "d-none d-md-block col-md-6">
          <img src="/static/people.jpg" style = "height: 320px;border-radius:4px;">
        </div>
      </div>  
      <h2 class = "text-center mt-2 mb-4">Testing sample data</h2>
      <div style="margin-bottom:16px;">
        {% for unit in units %}
          {% include 'unit_class.html' %}
        {% endfor %}
      </div>    
      <div class = "text-center mt-2">
        <a href="mailto:hello@varun.com?subject=Questions%20regarding%20Applications&body=My%20Name%20%3A%20%3Cyour%20name%3E%0D%0AMy%20Questions%20%3A%20%3Cyour%20questions%3E " class="btn btn-primary btn-lg">Contact us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>