<!DOCTYPE html>
<html>
<head>
    {% include 'bootstrap.html' %}
    <title>Home</title>
</head>
<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class = "container">
        <div class = "container" style="margin-bottom:8px;margin-top:16px;padding-bottom:4px;padding-top:8px;">
            <h1>Select a category:</h1>
            <form action="/conversion" method="POST">
                <select class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="category">
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-primary float-right align-middle" type="submit">Conversion</button>
            </form>
        </div>
        <div class = "container" style="margin-bottom:16px;margin-top:8px;padding-bottom:8px;padding-top:4px;">
            <form action="/size" method="POST">
                <select class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="category">
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-primary float-right align-middle" type="submit">Size</button>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
