<!DOCTYPE html>
<html>
<head>
    {% include 'bootstrap.html' %}
    <title>Size</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="container border-bottom">
        <h1>Size</h1>
        <form action="/size" method="POST">
            <button class="btn btn-outline-primary float-right align-middle" type="submit" name="initialize" value="true">Initialize</button>
            <br><br>
            <div class="row" style="margin-bottom:8px;">
                <div class="col-3">
                    <label for="sg1">S1 :</label>
                    <input class = "border border-dark-subtle" style = "width:60%" type="number" step="0.001" name="sg1" value="{{ initial_sg1 }}" {% if initialize %}readonly{% endif %}>
                </div>
                <div class="col-3">
                    <label for="sg2">S2 :</label>
                    <input class = "border border-dark-subtle" style = "width:60%" type="number" step="0.001" name="sg2" value="{{ sg2 }}">
                </div>
                <div class="col-3">
                    <label for="sg2_offset">Offset S2 :</label>
                    <input class = "border border-dark-subtle" style = "width:60%" type="number" step="0.001" name="sg2_offset" value="{{ sg2_offset }}">
                </div>
                <div class="col-3">
                    <label for="sg1_offset">S1 Offset :</label>
                    <input class = "checkbox border border-dark-subtle" type="checkbox" name="sg1_offset" {% if initial_sg1_offset or initialize %}checked{% endif %}>
                </div>
                <br>
            </div>
            <div class="row" style="margin-bottom:8px;">
                <div class="col-3">
                    <label for="t1">T1 :</label>
                    <input class = "border border-dark-subtle" style = "width:60%" type="number" step="0.001" name="t1" value="{{ initial_t1 }}" {% if initialize %}readonly{% endif %}>
                </div>
                <div class="col-3">
                    <label for="t2">T2 :</label>
                    <input class = "border border-dark-subtle" style = "width:60%" type="number" step="0.001" name="t2" value="{{ t2 }}">
                </div>
                <div class="col-3">
                    <label for="t2_offset">Offset T2 :</label>
                    <input class = "border border-dark-subtle" style = "width:60%" type="number" step="0.001" name="t2_offset" value="{{ t2_offset }}">
                </div>
                <div class="col-3">
                    <label for="t1_offset">T1 Offset :</label>
                    <input class = "checkbox border border-dark-subtle" type="checkbox" name="t1_offset" {% if initial_t1_offset or initialize %}checked{% endif %}>
                </div>
            </div>
            <div class="row" style="margin-bottom:8px;">
                <div class="col-3">
                    <label for="p1">P1 :</label>
                    <input class = "border border-dark-subtle" style = "width:60%" type="number" step="0.001" name="p1" value="{{ initial_p1 }}" {% if initialize %}readonly{% endif %}>
                </div>
                <div class="col-3">
                    <label for="p2">P2 :</label>
                    <input class = "border border-dark-subtle" style = "width:60%" type="number" step="0.001" name="p2" value="{{ p2 }}">
                </div>
                <div class="col-3">
                    <label for="p2_offset">Offset P2 :</label>
                    <input class = "border border-dark-subtle" style = "width:60%" type="number" step="0.001" name="p2_offset" value="{{ p2_offset }}">
                </div>
                <div class="col-3">
                    <label for="p1_offset">P1 Offset :</label>
                    <input class = "checkbox border border-dark-subtle" type="checkbox" name="p1_offset" {% if initial_p1_offset or initialize %}checked{% endif %}>
                </div>
                <br>
            </div>
            <br>
            <label>Select Category:</label>
            <select class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="category">
                {% for category in units_list.keys() %}
                    <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
                {% endfor %}
            </select>
            <br><br>
            <button class="btn btn-outline-primary float-right align-middle" type="submit">Calculate</button>
        </form>
        <br>
        <div class = "container" style="margin-bottom:16px;margin-top:16px;padding-bottom:8px;padding-top:8px;">
            {% if result is defined %}
                <h2>Result: {{ result }}</h2>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <h2>Size History</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S1</th>
                    <th>S2</th>
                    <th>T1</th>
                    <th>T2</th>
                    <th>P1</th>
                    <th>P2</th>
                    <th>Result</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for size in size_history %}
                    <tr>
                        <td>{{ size.sg1 }}</td>
                        <td>{{ size.sg2 }}</td>
                        <td>{{ size.t1 }}</td>
                        <td>{{ size.t2 }}</td>
                        <td>{{ size.p1 }}</td>
                        <td>{{ size.p2 }}</td>
                        <td>{{ size.result }}</td>
                        <td>{{ size.category }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'footer.html' %}
</body>
</html>
